body {
    font-family: Arial, sans-serif;
    background-color: #b11f1f;
    color: #333333;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h1 {
    text-align: center;
}

button {
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
}

button:hover {
    background-color: #b3a700;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
